@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

body{
  background-color: #F9FBFD;
}

@theme {

  /*---------------------------------- Colors ----------------------------------*/
  --color-body: #F9FBFD;
  --color-primary: #00A7D4;
  --color-bodytext: #37474F;
  --color-black: #000000;
  --color--white: #ffffff;
  --color-divider: #E0E6EA;
  --color-muted_text: #607D8B;
  --color-primaryHeading: #001B2E;
  --color-web_background: #F9FBFD;

  /*---------------------------------- Fonts ----------------------------------*/
  --font-montserrat: "Montserrat", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;

  /*---------------------------------- Font Weights ----------------------------------*/
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-ml: 600;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /*---------------------------------- Text Sizes ----------------------------------*/
  --text-12: 12px;
  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-24: 24px;
  --text-32: 32px;
  --text-48: 48px;
  --text-50: 50px;
  --text-80: 80px;


  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-56: 56px;


  --breakpoint-1650px : 1650px;
}
